{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 150px;
}

button {
  margin-top: 10px;
}

</style>

<script>
function openModal() {
  var modal = document.getElementById("commentModal");
  modal.style.display = "block";
}

function closeModal() {
  var modal = document.getElementById("commentModal");
  modal.style.display = "none";
}

function submitComment() {
  var comment = document.getElementById("commentTextarea").value;
  // Do something with the comment (e.g., send it to the server)
  console.log(comment);
  closeModal();
}

    function uplodfile(){
    
        async function generatePDF() {
            // document.getElementById("downloadButton").innerHTML = "Currently downloading, please wait";
    
            //Downloading
            var downloading = document.getElementById("selected-area");
            var doc = new jsPDF('l', 'pt');
    
            await html2canvas(downloading, {
                //allowTaint: true,
                //useCORS: true,
                // width: 600
                
            }).then((canvas) => {
                //Canvas (convert to PNG)
                doc.addImage(canvas.toDataURL("image/png"), 'PNG', 15, 10, 700, 850);
            })
    
            
    
            data=doc.save("Document.pdf");
    
    
            //End of downloading
    
            // document.getElementById("downloadButton").innerHTML = "Click to download";
        }
    
        $.ajax({
            method: "POST",
            url : "/estimate_pdf/",
            processData :false,
            contentType :false,
            data : data,
            success:function(res){
                console.log(res)
            }
    
    
        })
    }
       
    </script>
<section  >
      <div class="row fixed-top" style="top: 7rem; margin-left: 15rem;position: fixed;" >
        
        <div class="col-md-4" style="border-right: 1px solid white;overflow-y: scroll;height: 525px;">
          <div class="row">
            <div class="col-md-4 "><a class="text-white" style="font-size: 1.5rem;">Purchase</a></div>
            <div class="dropdown col-md-2  mt-1">
              <a class="dropdown-toggle btn btn-primary" href="" data-toggle="dropdown">
                <i class="fa fa-filter"></i> Filter
              </a>
              <div class="dropdown-menu m-1">
                <a class="dropdown-item" href="{% url 'purchase_bill_view' po_item.id  %}">All</a>

                <a class="dropdown-item" href="{% url 'draft' po_item.id  %}">Draft</a>
                <a class="dropdown-item" href="{% url 'Approved' po_item.id  %}">Approved</a>
              </div>
            </div>

            <div class="col-md-2 form-inline justify-content-end" ><a style="color: #ccc;width: 4rem;height: 2rem;margin-left: 5rem;" class="btn btn-success " href="{% url 'purchase_order' %}"><i class="fa-solid fa-plus "></i>New</a>
             
            </div>
          </div> 
          <table class="table  text-white">
            <thead>
              <tr>
                <th class="text-white">Name</th>
               
              </tr>
              
            </thead>
            <tbody>
              {% for v in po %}
     
              <tr>
     
                <td onclick="location.href ='{% url 'purchase_bill_view' v.id %}' "><a class="text-white ">{{v.Pur_no}}</a></td>
                <td>{{v.status}}</td>
             
              </tr>
             
              {% endfor %}
     
            </tbody>
          </table>
       
        </div> 
        
        <div class="col-md-8 " >
          <div class="row" >
            
            <div class="col-md-7 p-2 bg-light form-inline d-flex align-items-center" style="width: 100%;">
                <a href="{% url 'edit' po_item.id %}" class="text-dark m-1"><i class="fa fa-pencil"></i>Edit</a>
                <a href="{% url 'purchase_delet' po_item.id %}" class="text-dark m-1"><i class="fas fa-record-vinyl"></i>Delete</a>

                <a href="#" class="text-dark m-1" onclick="openModal()"><i class="fa fa-comment-alt"></i> Comment</a>

<!-- Modal -->
<div id="commentModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>

    <h2>Your Comment</h2>

    <form method="post" action="{% url 'add_comment' po_item.id %}">
      {% csrf_token %}
      <textarea name="comment" id="commentTextarea" >{{po_item.comments}}</textarea>
      <input type="submit" class="btn btn-success">

    </form>   
  </div>
</div>

                <a onclick="printSelectedArea()" class="text-dark m-1"><i class="fas fa-record-vinyl"></i>Print</a>
                <a href="{% url 'export_purchase_pdf' po_item.id %}" class="text-dark m-1"><i class="fas fa-record-vinyl"></i>PDF</a>


                <div class="dropdown m-1">
                  <a class="dropdown-toggle text-dark" href="" data-toggle="dropdown">
                    <i class="fa fa-envelope"></i> Mail/SMS
                  </a>
                  <div class="dropdown-menu m-1">
                    <a class="dropdown-item" href="{% url 'EmailAttachementView_purchase' %}">Send as Mail</a>
                    <a class="dropdown-item" href="#">Send as SMS</a>
                  </div>
                </div>
                <div class="dropdown m-1">
                  <a class="dropdown-toggle text-dark" href="" data-toggle="dropdown">
                    <i class="fa fa-status"></i> Status
                  </a>
                  <div class="dropdown-menu m-1">
                    {% if po_item.status == 'Draft' %}
                    <a class="dropdown-item" href="{% url 'change_status' po_item.id %}">Approve</a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'change_status_draft' po_item.id %}">Draft</a>

                    {% endif %}
                  </div>
                </div>
              
              
</div>
             <div >
         
            <section id="selected-area" style="background-color: rgb(255, 221, 176);overflow-y: scroll;height: 525px;"class=" mb-5">
                 <style>
                   
 body {
   font-family: Arial, sans-serif;
   background-color: #f2f2f2;
   padding: 1px;
   margin: 0;
   color: black;
 }
 
 header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0,0,0,0.2);
   margin-bottom: 20px;
 }
 
 .logo img {
   max-height: 100px;
 }
 
 .company-info h2 {
   margin: 0;
   font-size: 2em;
 }
 
 .company-info p {
   margin: 0;
   line-height: 1.5;
 }
 
 .i.invoice-box {
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0,0,0,0.2);
 }
 
 .invoice-box h1 {
   font-size: 2em;
   margin-bottom: 20px;
 }
 
 .invoice-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
 }
 
 .invoice-details p, .client-details p {
   margin: 5px 0;
 }
 
 table {
   width: 100%;
   border-collapse: collapse;
 }
 
 th, td {
   padding: 10px;
   text-align: left;
   border-bottom: 1px solid #ddd;
 }
 
 #th {
   background-color: #f2f2f2;
   color: black;
 }
 
 .invoice-total {
   margin-top: 20px;
   text-align: right;
 }
 
 .invoice-total p {
   margin: 5px 0;
 }
 
 footer {
   background-color: #fff;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0,0,0,0.2);
   text-align: center;
   font-size: 0.8em;
   color: #888;
   margin-top: 20px;
 }
 
 footer p {
   margin: 5px 0;
 }
 
 
                 </style>
                   <header style="	background-color: #8b3131;border-radius: 1rem;">
                       <div class="logo ">
                           <img class="ml-2" width="100rem" style="border-radius: 50%;" src="{% static 'images/zlogo.png' %}" alt="Company Logo">
                       </div>
                       <div style="background: #8b3131;color: black;" class="company-info">
                           <h2 class="text-white">{{company.company_name}}</h2>
                           <p class="text-white"> {{company.address}}<br>{{company.city}}<br>Ph: {{company.contact_number}}<br>Email: {{company.company_email}}</p>
                       </div>
                   </header>
                   <div class="invoice-box">
                       <div class="invoice-header">
                           <div class="invoice-details text-dark">
                             <p class="text-dark">Order No#: {{po_item.Pur_no}}</p>
 
                               <p class="text-dark">Reference #: {{po_item.ref}}</p>
                               <p class="text-dark">Purchase Date: {{po_item.Ord_date}}</p>
                               <p class="text-dark">Expect Delivery Date: {{po_item.exp_date}}</p>
                           </div>
                           <div class="invoice-details">
                            <p class="text-dark">Vendor Name : {{po_item.vendor_name}}</p>
                            <p class="text-dark">Vendor Mail :{{po_item.vendor_mail}}</p>
                            <p class="text-dark">Vendor Gst_treart : {{po_item.vendor_gst_traet}}</p>
                            <p class="text-dark">Vendor Gst_No :{{po_item.vendor_gst_no}}</p>
                        </div>
                           <div class="client-details">
                            {% if po_item.customer_name != 'None' %}
                               <p class="text-dark">Client Name: {{po_item.Org_name}} </p>

                               <p class="text-dark">Address: {{po_item.Org_address}}</p>
                               <p class="text-dark">Gst: {{po_item.Org_gst}}</p>
                               {% else %}
                               <p class="text-dark">Client Name: {{po_item.customer_name}} </p>
                               <p class="text-dark">Client Mail: {{po_item.customer_mail}} </p>

                               <p class="text-dark">Address: {{po_item.customer_address.}}<br></p>
                               {% endif %}
                           </div>
                       </div>
                       <table>
                           <thead>
                               <tr>
                                 
                                 <th id="th">Product</th>
                                 <th id="th">Account</th>
                                 
                                   <th id="th">Quantity</th>
                                   <th id="th">Price</th>
                                   <th id="th">Discount</th>
                                   <th id="th">Tax %</th>
                                   <th id="th"> Total</th>
                               </tr>
                           </thead>
                           <tbody>
                             {% for i in pot %}
                             <tr>
                               <td>{{i.item}}</td>
                               <td>{{i.account}}</td>
                               <td>{{i.quantity}}</td>
                               <td>{{i.rate}}</td>
                               <td>{{i.discount}}</td>
                               <td>{{i.tax}}</td>
                               <td>{{i.amount}}</td>
                             </tr>
                             {% endfor %}
 
                         </tbody>
                       </table>
                       
                     <div class="row">
                        <div class="col-sm-8"></div>
                        <div class="col-sm-4">
                            <table >
                                <tr>
                                    <td>Subtotal</td>
                                    <td>{{po_item.sub_total}}</td>
                                </tr>
                                {% if po_item.igst != 0.0%}
                                <tr>
                                    <td>IGST</td>
                                    <td>{{po_item.igst}}</td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td>SGST</td>
                                    <td>{{po_item.sgst}}</td>
                                </tr>
                                <tr>
                                    <td>CGST</td>
                                    <td>{{po_item.cgst}}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td>Total Tax</td>
                                    <td>{{po_item.tax_amount}}</td>
                                </tr>
                                <tr>
                                    <td>Shipping Charge</td>
                                    <td>{{po_item.shipping_charge}}</td>
                                </tr>
                                <tr>
                                    <td>Grand Total</td>
                                    <td>{{po_item.grand_total}}</td>
                                </tr>
                              </table>
                        </div>
                     </div>
                      
                   </div>
 
                   <footer class="mb-5">
                       <p class="text-dark">&copy; Zho Books 2023 | Info park kakkanad kochi, Ernamkulam, kerala India 12345 | Phone: (123) 456-7890 | Email: info@zohodjango.com</p>
                   </footer>
                   <div class="mt-5 mb-5">
       
                   </div>
                  </section>
 
                  <script>
 
 
                  function printSelectedArea() {
 
   var selectedArea = document.getElementById("selected-area");
   
 
   var printWindow = window.open('', 'PrintWindow', 'height=800,width=800');
   
 
   printWindow.document.write('<html><head><title>Print Selected Area</title></head><body>' + selectedArea.innerHTML + '</body></html>');
   
  
   printWindow.print();
   
   
   printWindow.close();
 }
 
                 </script>
       
 
            </div>
 
 
               </div>
               
          </div>
          
                
        </div>
     
        </div>
     
       </div>
  </div>
 
   </div>
  
 


  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</section>

{% endblock %}
